@font-face {
  font-family: Lato;
  src: url('../shared/assets/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('../shared/assets/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@theme {
  --font-display: Lato, 'sans-serif';
}

body {
  background-color: #ffffff;
  scrollbar-gutter: stable;
}
